@import "../settings";

.bw-calendar {
  display: grid;

  &__spinner {
    stroke: var(--color, $primary-color);
    justify-self: center;
    margin: 2rem;
  }

  &__controls {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    margin-bottom: 2rem;
  }

  &__month {
    display: grid;
    column-gap: 1rem;
    row-gap: 1rem;
    grid-template-columns: repeat(7, 1fr);

    & > div {
      border-top: 2px solid var(--color-accent);
      padding: 5px 0;
      font-weight: 500;
      color: #888;
      display: grid;
      row-gap: 7px;

      a {
        background-color: var(--color);
        height: 7px;
        width: 7px;
        border-radius: 100%;
        display: inline-block;
      }
    }

    strong {
      color: #555;
    }

    @for $i from 2 through 7 {
      div[data-start="#{$i}"] {
        grid-column-start: #{$i};
      }
    }

    .isCurrentDay {
      color: var(--color);
    }
  }

  &__week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }
}
