@import "../settings";

body.open-lightbox {
  overflow: hidden;

  .bw-lightbox {
    display: block;
  }
}

.bw-lightbox {

  display: none;

  &__shadow, &__wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
  }

  &__shadow {
    background-color: rgba(#000, 0.7);
  }

  &__wrap {
    padding: 1rem;
    display: grid;
    align-items: center;
    justify-items: center;
  }

  &__content {
    position: relative;
    max-width: $global-width;
    box-shadow: 0 0 20px rgba(#000, 0.2);
    max-height: 90vh;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__nav-link {
    display: none;
  }

  &__close-link {
    display: none;
  }

  &.is-image-lightbox {

    .bw-lightbox__nav-link {
      position: absolute;
      height: 100%;
      width: 50%;
      top: 0;
      text-indent: -99999px;
      display: block;

      &--next {
        left: 50%;
      }
    }
  }

  &.is-content-lightbox {

    .bw-lightbox__close-link {
      position: absolute;
      width: 4rem;
      height: 3.75rem;
      text-align: center;
      background: $light-gray;
      color: rgba($dark-gray, 0.7);
      font-size: 1.5rem;
      line-height: 4rem;
      top: 0;
      right: 0;
      display: block;
      transition: all 0.2s ease;

      &:hover {
        background: $primary-color;
        transition: background-color 0.3s ease;
        svg path {
          fill: #FFF;
        }
      }
    }


    .bw-lightbox__content-drop {
      background: #FFF;
      padding: 2rem;
    }
  }

}
