@import "../settings";

@-webkit-keyframes fadeIn {
  0% {
    background-color: rgba(#000, 0.1);
  }
  100% {
    background-color: rgba(#000, 0.7);
  }
}

@-webkit-keyframes moveIn {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

body.open-wizardBox {
  overflow: hidden;

  .bw-wizardBox {
    display: block;
  }
}

.bw-wizardBox {

  display: none;

  &__shadow, &__wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
  }

  &__shadow {
    background-color: rgba(#000, 0.7);
  }

  &--fadeIn {
    .open-wizardBox & .bw-wizardBox__shadow {
      animation: fadeIn 0.5s normal forwards;
    }

    .open-wizardBox & .bw-wizardBox__content {
      animation: moveIn 0.7s normal forwards;
    }
  }

  &__wrap {
    display: grid;
    align-items: center;
    justify-items: center;
    //padding: 1rem;
  }

  &__content {
    position: relative;
    box-shadow: 0 0 20px rgba(#000, 0.2);
    overflow-x: hidden;
    overflow-y: scroll;
    background: #FFF;
    height: 100%;
    width: 100%;
    max-height: 100%;
    min-height: 20rem;
    transition: max-width 0.5s ease;

    &::-webkit-scrollbar {
      display: none;
    }

    @include breakpoint(medium) {
      min-height: 10rem;
    }
  }

  &--small .bw-wizardBox__content,
  &--medium .bw-wizardBox__content,
  &--large .bw-wizardBox__content {
    height: auto;
    width: calc(100vw - 2rem);
    max-height: calc(100vh - 2rem);
    @include breakpoint(medium) {
      max-width: map-get($breakpoints, 'medium');
    }
  }

  &--medium .bw-wizardBox__content {
    @include breakpoint(medium) {
      max-width: map-get($breakpoints, 'large');
    }
  }

  &--large .bw-wizardBox__content {
    @include breakpoint(medium) {
      max-width: map-get($breakpoints, 'xlarge');
    }
  }

  &--xlarge .bw-wizardBox__content {
    @include breakpoint(medium) {
      max-width: map-get($breakpoints, 'xxlarge');
    }
  }

  &__container {
    display: grid;
    transition: opacity 0.2s ease 0.1s;

    &--animate {
      transition: transform 0.4s ease 0.35s, opacity 0.15s ease 0s;
      opacity: 0.4;
    }
  }

  &__step {
    padding: 2rem;
  }

  &--dynamicHeight {
    .bw-wizardBox__step {
      max-height: 0;
      transition: max-height 0.5s linear 0.6s;
      overflow: hidden;

      &.active {
        max-height: 2000px;
      }
    }
  }

  &__loader {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    display: none;
    background-color: rgba(#fff, 0);
    transition: background-color 0.1s ease;
    justify-content: center;
    align-content: center;

    svg {
      transform: scale(2);
      stroke: map-get($foundation-palette, 'primary');
    }

    .bw-wizardBox--navigator & {
      height: calc(100% - 7rem);
      top: 7rem;
      @include breakpoint(medium) {
        height: calc(100% - 10rem);
        top: 10rem;
      }
    }

    .bw-wizardBox--loading & {
      display: grid;
      background-color: rgba(#fff, 0.8);
    }
  }

  &__close-link {
    position: absolute;
    width: 4rem;
    height: 3.75rem;
    text-align: center;
    background: $light-gray;
    color: rgba($dark-gray, 0.7);
    font-size: 1.5rem;
    top: 0;
    right: 0;
    display: none;
    align-content: center;
    justify-content: center;
    transition: all 0.2s ease;

    &:hover {
      background: map-get($foundation-palette, 'primary');
      transition: background-color 0.3s ease;

      svg path {
        fill: #FFF;
      }
    }

    .bw-wizardBox--closable & {
      display: grid;
    }
  }


  &__content-drop {
    background: #FFF;
    padding: 2rem;
  }

  &__navigator {
    display: none;
    grid-template-columns: 1fr 2rem 1fr 2rem 1fr 2rem 1fr 2rem 1fr;
    grid-column-gap: 0;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 5rem 0 0 0;

    .bw-wizardBox--navigator & {
      display: grid;
    }

    .bullet {
      background-color: $dark-gray;
      width: 2rem;
      height: 2rem;
      line-height: 2rem;
      border-radius: 100%;
      text-align: center;
      color: #FFF;
      position: relative;
      font-weight: bold;
      transition: background-color 0.1s ease 0.1s;

      .number, .check {
        width: 2rem;
        height: 2rem;
        position: absolute;
        left: 0;
        top: 0;
        svg {
          width: 1rem;
          height: 2rem;
        }
      }

      .check {
        transform: translate3d(0, -3rem, 0);
        transition: none;
      }

      &.active {
        background-color: map-get($foundation-palette, 'primary');
        transition: background-color 0.1s ease 0.6s;

        .text {
          color: map-get($foundation-palette, 'primary');
          transition: color 0.1s ease 0.6s;
        }
      }

      &.success {
        background-color: map-get($foundation-palette, 'success');

        .number {
          display: none;
        }

        .check {
          transform: translate3d(0, 0, 0);
          transition: transform 0.25s ease 0.1s;
        }

        .text {
          color: map-get($foundation-palette, 'success');
        }

        & + .line:after {
          //background: map-get($foundation-palette, 'primary);
          width: 100%;
        }
      }
    }

    .line {
      width: 100%;
      height: 2px;
      background-color: $dark-gray;
      position: relative;

      &.success:after {
        background: map-get($foundation-palette, 'success');
      }

      &:after {
        content: '';
        background: map-get($foundation-palette, 'primary');
        height: 2px;
        left: 0;
        top: 0;
        width: 0%;
        position: absolute;
        transition: width 0.4s ease 0.4s;
      }
    }

    .text {
      display: none;
      text-align: center;
      color: $dark-gray;
      width: 300px;
      position: absolute;
      left: 50%;
      margin-left: -150px;
      transition: color 0.1s ease 0.1s;
      top: 2rem;
    }

    @include breakpoint(medium) {
      padding: 4rem 0;
      .text {
        display: block;
      }
    }
  }

}
