@import 'foundation';

$foundation-palette: (
        primary: #A43253,
        secondary: #777,
        success: #82B17C,
        warning: #ffae00,
        alert: #ec5840,
) !default;

$breakpoints: (
        small: 0,
        medium: 640px,
        large: 1024px,
        xlarge: 1200px,
        xxlarge: 1440px,
) !default;

$global-width: rem-calc(1400) !default;
$light-gray: #F6F6F6 !default;
$dark-gray: #B2B2B2 !default;

@include add-foundation-colors;
