section#bookingManager {
    --width-card: 100%;
}

input[type="checkbox"], input[type="radio"] {
    margin-right: 6px;
}

input[type="checkbox"] + label, input[type="radio"] + label {
    margin-right: 10px;
}
